<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Crop Suggestion</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <!-- <link href="img/icon.png" rel="icon">
  <link href="img/icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/venobox/venobox.css" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="stylesheets/nivo-slider-theme.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/table_cropsuggest.css" rel="stylesheet">
  <!-- Responsive Stylesheet File -->
  <link href="stylesheets/responsive.css" rel="stylesheet">
  <link href="stylesheets/loader.css" rel="stylesheet">


  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->

  <style>
    .column01{
        text-align: center;
        width: 20%;
    }
    .column02{
        text-align: center;
        width: 40%;
    }
    .column03{
        text-align: center;
        width: 40%;
    }
    /* .column04{
        text-align: center;
        width: 15%;
    }
    .column05{
        text-align: center;
        width: 15%;
    }
    .column06{
        text-align: center;
        width: 10%;
    }
    .column07{
        text-align: center;
        width: 20%;
    } */
    </style>

<script>
   var myVar;

  function myFunction() {
  myVar = setTimeout(showPage, 3000);
  }

  function showPage() {
  document.getElementById("loader1").style.display = "none";
  document.getElementById("crop_suggest").style.display = "block";
  }
  </script>

</head>

<body data-spy="scroll" data-target="#navbar-example" onload="myFunction()" style="margin:0;">

  <div class="preloader-wrapper" id="loader1">
    <div class="preloader" >
       <h3>Loading...<br/>
       We are fetching crops for your  Region </h3>
    </div>
  </div>

  <div>
    <%- include('nav'); %>
    </div>

  

<!--markets table start -->

<div id="contact" class="contact-area">
  <div class="contact-inner area-padding">
    <div class="contact-overly"></div>
    <div class="container contact-fluid ">
      <div class="row" style="padding-top: 2%">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2 > Suggested Crops</h2>
          </div>
        </div>
      </div>
      <!-- <button onclick="myFunction()">Try it</button> -->
      <div style="text-align: center; padding-bottom: 2%;">
        <h3>The below results are for <strong><%=result.region%></strong> region</h3>
      </div>
      
      <div class="table100 ver1 m-b-110" id="myDIV">
        <div class="table100-head">
          <table>
            <thead style="text-align: center;">
              <tr class="row100 head">
                <th class="cell100 column01"><b>Sr. No.</b></th>
                <th class="cell100 column02"><b>Name of Crop</b></th>
                <th class="cell100 column03"><b>View Life Cycle</b></th>
                
              </tr>
            </thead>
          </table>
        </div>

        <div class="table100-body js-pscroll">
          <table>
            <tbody style="text-align: center;">
              <tr class="row100 body">
                <td class="cell100 column01">1</td>
                <td class="cell100 column02"><%=result.Crop1%></td>
                <td class="cell100 column03"><a href="<%=result.Crop1%>">Click here</a></td>
                
                
              </tr>

              <tr class="row100 body">
                <td class="cell100 column01">2</td>
                <td class="cell100 column02"><%=result.Crop2%></td>
                <td class="cell100 column03"><a href="<%=result.Crop2%>">Click here</a></td>
              </tr>

              <tr class="row100 body">
                <td class="cell100 column01">3</td>
                <td class="cell100 column02"><%=result.Crop3%></td>
                <td class="cell100 column03"><a href="<%=result.Crop3%>">Click here</a></td>
              </tr>



            </tbody>
          </table>

        </div>
      </div>


<!--       
      <div class="row" >
          <div class="col-md-12 col-sm-12 col-xs-12 container-fluid">
                <table class="table table-hover" >
                        <thead >
                          <tr>
                            <th scope="col">Priority number</th>
                            <th scope="col">Crop Name</th>
                            <th scope="col"> Probability</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td> Jowar</td>
                            <td>70%</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Wheat</td>
                            <td>50%</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td >Sugarcane</td>
                            <td>20%</td>
                          </tr>
                        </tbody>
                      </table>
          </div>
      </div> -->
</div>
</div>
</div>

<!--markets table end-->
<div>
  <%- include('footer'); %>
</div>


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/venobox/venobox.min.js"></script>
  <script src="lib/knob/jquery.knob.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
  <script src="lib/appear/jquery.appear.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  
  <!-- Graph -->
  <!-- <script src="js/flot/jquery.flot.min.js"></script>
  <script src="js/graphdata.js"></script> -->

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <script src="javascripts/main.js"></script>
</body>

</html>